$c-app-blue: #293e52;
$c-white: #fff;
$c-black: #000;

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}
